<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>
<nav class="navbar bg-faded m-b-1">
    <ul class="nav navbar-nav">
        {% block menu %}
            {% if menu is defined %}
                {% for item in menu %}
                    <li class="nav-item {% if item.active %}active{% endif %}">
                        <a class="nav-link" href="{{ path(item.route) }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('project') }}">All projects</a>
                </li>
            {% endif %}
        {% endblock %}
    </ul>
</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>